:root {
  --maincolor: rgba(34, 34, 34, 1);
  --maincolor-darker: rgb(22, 22, 22);
  --maincolor-lighter: rgb(51, 51, 51);
  --secondcolor: #bfac76;
  --whitecolor: rgba(208, 208, 208, 1);
  --accentcolor: rgb(165, 135, 78);
}

#wrapper-project-appdesign {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
}

.project-appdesign-first-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.project-appdesign-first-section .project-text-container-appdesign {
  align-content: flex-end;
  height: -moz-fit-content;
  height: fit-content;
}

.project-appdesign-img {
  flex: 1;
  transform: translate(0, -10%);
}
.project-appdesign-img img {
  max-width: 90%;
}

.project-text-container-appdesign {
  width: 45%;
  background-color: rgba(51, 51, 51, 0.95);
  border-radius: 100px 15px;
  padding: 40px 30px 60px 30px;
}
.project-text-container-appdesign h2 {
  text-align: center;
}
.project-text-container-appdesign p:first-of-type {
  font-size: 1.75rem;
  font-variant: small-caps;
  text-align: center;
  color: white;
}
.project-text-container-appdesign p {
  color: white;
  text-align: left;
}

.project-appdesign-taskdescription {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 100px;
}

.project-appdesign-description {
  background-color: rgba(51, 51, 51, 0.95);
  border-radius: 25px;
  padding: 40px 30px 60px 30px;
  margin-bottom: 3%;
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-appdesign-description:last-child {
  width: 100%;
  padding: 50px;
}
.project-appdesign-description img {
  width: 100%;
}
.project-appdesign-description p {
  color: white;
  text-align: left;
}
.project-appdesign-description h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.875rem;
  letter-spacing: 0.3rem;
  font-variant: small-caps;
  color: var(--secondcolor);
  padding-top: 0;
}

.assets {
  background-color: rgba(51, 51, 51, 0.95);
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 50px;
}
.assets p {
  text-align: left;
  color: white;
}
.assets hr {
  width: 50%;
  margin-bottom: 100px;
  height: 1px;
}
.assets h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.875rem;
  letter-spacing: 0.3rem;
  font-variant: small-caps;
  color: var(--secondcolor);
  padding-top: 0;
}

.italic-font {
  font-style: italic;
  font-family: "Poppins";
  font-size: larger;
  text-align: center;
  color: var(--secondcolor);
}
.italic-font hr {
  margin: 10px auto 20px auto;
}

.p-color{
  color: var(--secondcolor);
  font-size: 1.1rem;
}

.assets-headline-last,
.assets-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.assets-headline-last img,
.assets-headline img {
  width: 38px;
}

.assets-color {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 100px;
}

.appdesign-colors-text-container {
  width: 40%;
}

/*****GRID Color******/
.appdesign-colors-grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  height: 484px;
}
.appdesign-colors-grid-container .grid-item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1rem;
  font-family: "Poppins";
  color: black;
  padding: 20px 40px;
  border-radius: 15px;
}

.appdesign-colors-grid-container .color1 {
  background-color: #404040;
  color: white;
}

.color2 {
  background-color: #9ac4ca;
}


.appdesign-colors-grid-container .color3 {
  background-color: #263d45;
  color: white;
}

.color4 {
  background-color: #d9d9d9;
}

.color5 {
  background-color: #5da2ad;
}

.appdesign-colors-grid-container .color6 {
  background-color: #843636;
  color: white;
}

/***************/
.appdesign-colors {
  display: grid;
}

.appdesign-typofield {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.appdesign-textfield {
  width: 45%;
}

.appdesing-fontstyles {
  width: 50%;
}
.appdesing-fontstyles img {
  width: 100%;
  border-radius: 30px;
}

.assets-interaction {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.assets-interaction .assets-interaction-textfield,
.assets-interaction .assets-interaction-figma-presentation {
  background-color: var(--maincolor);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 505px;
  width: 230px;
  border-radius: 15px;
  padding: 15px;
}
.assets-interaction .assets-interaction-textfield p,
.assets-interaction .assets-interaction-figma-presentation p {
  text-align: center;
  margin-bottom: 20px;
}
.assets-interaction .assets-interaction-textfield button,
.assets-interaction .assets-interaction-figma-presentation button {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--secondcolor);
  background-color: var(--maincolor);
}
.assets-interaction .assets-interaction-textfield button a,
.assets-interaction .assets-interaction-figma-presentation button a {
  color: var(--whitecolor);
}

.project-appdesign-description-list{
  color: white;
}
.project-appdesign-description-list li{
  width: 90%;
  margin: 0 auto;
  color: white;
  list-style: circle;
}


.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.lightbox-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.lightbox-img {
  max-width: 90%; 
  max-height: 90%; 
  margin: auto; 
}

/* Responsive Design */
@media (max-width: 1024px) {
  .project-appdesign-description {
    width: 40%;
  }
}
@media (max-width: 850px) {
  .appdesign-colors-text-container,
  .appdesign-textfield,
  .appdesing-fontstyles {
    width: 100%;
  }
  .project-text-container-appdesign {
    border-radius: 150px 10px;
  }
}
@media (max-width: 768px) {
  .grid-item {
    font-size: 1.5em;
  }
  .project-appdesign-img,
  .project-text-container-appdesign {
    width: 100%;
  }
  .project-appdesign-img {
    transform: translate(0, 0);
    padding: 50px;
  }
  .project-appdesign-description {
    width: 100%;
  }
  .project-appdesign-taskdescription .project-appdesign-description:first-child {
    order: 0;
  }
  .project-appdesign-taskdescription .project-appdesign-description:nth-child(2) {
    order: 1;
  }
  .project-appdesign-taskdescription .project-appdesign-description:nth-child(3) {
    order: 3;
  }
  .project-appdesign-taskdescription .project-appdesign-description:nth-child(4) {
    order: 2;
  }
  .project-appdesign-taskdescription .project-appdesign-description:last-child {
    order: 4;
  }
  .project-appdesign-img {
    transform: translate(0, 0);
  }
}
@media (max-width: 480px) {
  .project-text-container-appdesign {
    border-radius: 100px 5px;
  }
  .project-appdesign-img img {
    max-width: 100%;
  }
  .project-appdesign-img {
    padding: 50px 15px 50px 15px;
  }
  .appdesign-colors-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .grid-item {
    font-size: 1em;
  }
  .project-appdesign-taskdescription {
    width: 100%;
  }
  .project-appdesign-description {
    padding: 15px;
  }
  .project-appdesign-description h3 {
    font-size: 1.5rem;
  }
}
/*****SLIDER******/
.slide-container-appdesign {
  position: relative;
  width: 95%;
  margin: 50px auto 150px auto;
}

.slides-appdesign {
  display: none;
}
.slides-appdesign img {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.prev-slide-appdesign,
.next-slide-appdesign {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: var(--maincolor);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.next-slide-appdesign {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-slide-appdesign {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev-slide-appdesign:hover,
.next-slide-appdesign:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container-slides-appdesign {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.caption-container-slides-appdesign #caption-appdesign {
  color: white;
  padding: 20px 0 40px 0;
}

.row-slide-appdesign:after {
  content: "";
  display: table;
  clear: both;
}

.column-slide-appdesign {
  float: left;
  width: 16.66%;
}
.column-slide-appdesign img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
